django
djangorestframework
psycopg2-binary>=2.8
pytest-django
pytest-cov
pytest-pythonpath
pytest-mock
exponent_server_sdk
pillow
django-cors-headers
django-oauth-toolkit
celery
redis
#pipdjango-celery
django-celery-results
django-celery-beat