#Basicos
django
djangorestframework
django-cors-headers
django-oauth-toolkit
#Postres
psycopg2
dj_database_url
#SvProduccion
gunicorn
django-heroku
#Test
pytest-django
pytest-cov
pytest-pythonpath
pytest-mock
#Notificaciones
exponent_server_sdk
pillow
#Celery
celery
redis
#pipdjango-celery
django-celery-results
django-celery-beat